*.csproj
*.csproj.user
*.suo
*.sln
RestService/app.config
RestService/RestService/obj/*
RestService/RestService/obj/**/*
RestService/RestService/bin/*
RestService/RestService/bin/**/*
RestService/RestService/Properties/**/*
**.DS_Store*
**~
